service firebase.storage {
  match /b/{bucket}/o {
    match /uploads {
      match /{userId}/{allPaths=**} {
        allow read: if true;
        allow write: if request.auth.uid == userId
        						&& request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*')
      }
    }
  }
}